---
permalink: /events/
title: "Events"
---
<link rel="stylesheet" href="{{'/assets/css/styles.css' | prepend: site.baseurl}}">
<h2>Events</h2>

<div class='scrollable'>
  <table>
  {% assign events = site.data.events | sort: 'Date' | reverse %}
  {% for event in events %}
    <tr>
      <td>
        {% if event.Type == 'Talk' %}
          <i class="fas fa-comment"></i>
        {% endif %}
        {% if event.Type == 'Paper' %}
          <i class="fas fa-paperclip"></i>
        {% endif %}
        {% if event.Type == 'New Member' %}
        <i class="fas fa-user-plus"></i>
        {% endif %}
      </td>
      <td>
        <span class="badge">{{event.Date}}</span> {{event.Event}}
        {% if event.URL %}
          <a href="{{event.URL}}">{{event.URL}}</a>
        {% endif %}
      </td>
    </tr>
  {% endfor %}
  </table>
</div>
