---
layout: splash
permalink: /
hidden: true
header:
  overlay_color: "#5e616c"
  overlay_image: /assets/images/home-page-feature.jpg

excerpt: >
    Exploring interdisciplinary research problems at the intersection of computation, information science, and journalism.
feature_row:
  - image_path: /assets/images/mm-customizable-feature.png
    alt: "customizable"
    title: "Super customizable"
    excerpt: "Everything from the menus, sidebars, comments, and more can be configured or set with YAML Front Matter."
    url: "/docs/configuration/"
    btn_class: "btn--primary"
    btn_label: "Learn more"
  - image_path: /assets/images/mm-responsive-feature.png
    alt: "fully responsive"
    title: "Responsive layouts"
    excerpt: "Built with HTML5 + CSS3. All layouts are fully responsive with helpers to augment your content."
    url: "/docs/layouts/"
    btn_class: "btn--primary"
    btn_label: "Learn more"
---

<link rel="stylesheet" href="{{'/assets/css/styles.css' | prepend: site.baseurl}}">

    <h2>Recent News</h2>
    <div class='scrollable'>
      <table>
      {% assign events = site.data.events | sort: 'Date' | reverse | slice: 0, 5 %}
      {% for event in events %}
        <tr>
          <td>
            {% if event.Type == 'Talk' %}
              <i class="fas fa-comment"></i>
            {% endif %}
            {% if event.Type == 'Paper' %}
              <i class="fas fa-paperclip"></i>
            {% endif %}
            {% if event.Type == 'New Member' %}
            <i class="fas fa-user-plus"></i>
            {% endif %}
          </td>
          <td>
            <span class="badge">{{event.Date}}</span> {{event.Event}}
            {% if event.URL %}
              <a href="{{event.URL}}">{{event.URL}}</a>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
      <tr><td colspan="2"><i>Check the <a href='/events/'><b>Events</b></a> section for more news.</i></td></tr>
      </table>
    </div>
