.archive {
  float: left;
  width: 100%;
}

.grid__item .archive__item-teaser { max-height: 180px; }

.wrapper {
  padding: 10px;
}

article.page{
    float: left;
    width: 100%;
}

div.page__related{
    float: left;
    width: 100%;
}

.image--cover {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 20px;

  object-fit: cover;
  object-position: center right;
}

.map {
  margin-left: 80px;
}

.scrollable {
  overflow-x: scroll;
  overflow-y: scroll;
  max-height: 500px;
}

.badge {
  background-color: #fff;
  border: none;
  color: black;
  padding: 0px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 0px 0px;
  cursor: pointer;
  border-radius: 5px;
}
